<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Leave Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form class="d-flex">
                <button class="btn btn-success" onclick="location.href='http://127.0.0.1:8088/request/downloadExcel'"
                    type="submit">Download</button>
                <button class="ms-2 btn btn-danger" type="submit" (click)="openModal()">Report</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mt-5 mb-5">
                <div class="card-body">
                    <h2 class="card-title display-6 text-center mb-4">Leave Application</h2>
                    <form #userForm="ngForm" (ngSubmit)="onClick(userForm)">
                        <div class="row">
                            <div class="col mb-3">
                                <input type="text" id="name" name="name" class="form-control" ngModel
                                    placeholder="First Name" #name="ngModel" value="Sound" minlength="3" required>
                                <div *ngIf="name.touched && name.invalid" class="text-danger">
                                    <span class="mt-1" *ngIf="name.errors?.['required']">Name is required</span>
                                    <span class="mt-1" *ngIf="name.errors?.['minlength']">Name must be 5
                                        characters</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="email" id="email" name="email" class="form-control" ngModel placeholder="Email"
                                required email #email="ngModel" googleEmailValidator
                                pattern="^[A-z0-9]+@([Dd]eloitte).[Cc]om$">
                            <div *ngIf="email.touched && email.invalid" class="text-danger">
                                <span class="mt-1" *ngIf="email.errors?.['required']">Email is required</span>
                                <span class="mt-1" *ngIf="email.errors?.['email']">Enter a vaild email </span>
                                <span class="mt-1" *ngIf="!email.errors?.['required'] && !email.errors?.['email']">Email
                                    must be from deloitte.com</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="email" id="dellemail" name="dellemail" class="form-control" ngModel
                                placeholder="Dell Email" required email #dellemail="ngModel" googleEmailValidator
                                pattern="^[A-z]+@([Dd]ell).[Cc]om$">
                            <div *ngIf="dellemail.touched && dellemail.invalid" class="text-danger">
                                <span class="mt-1" *ngIf="dellemail.errors?.['required']">Dell Email is required</span>
                                <span class="mt-1" *ngIf="dellemail.errors?.['email']">Enter a vaild email </span>
                                <span class="mt-1"
                                    *ngIf="!dellemail.errors?.['required'] && !dellemail.errors?.['email']">Email
                                    must be from dell.com</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="email" id="approveremail" name="approveremail" class="form-control" ngModel
                                placeholder="Deloitte Email" required email #approveremail="ngModel"
                                googleEmailValidator pattern="^[A-z0-9]+@([Dd]eloitte).[Cc]om$">

                            <div *ngIf="approveremail.touched && approveremail.invalid" class="text-danger">
                                <span class="mt-1" *ngIf="approveremail.errors?.['required']">Deloitte Email is
                                    required</span>
                                <span class="mt-1" *ngIf="approveremail.errors?.['email']">Enter a vaild email </span>
                                <span class="mt-1"
                                    *ngIf="!approveremail.errors?.['required'] && !approveremail.errors?.['email']">Email
                                    must be from deloitte.com</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <select id="leave" name="leave" [(ngModel)]="leaveType" class="form-control" required
                                (blur)="leaveTypeTouched = true">
                                <option value="" disabled selected>Select Leave type</option>
                                <option value="Sick">Sick</option>
                                <option value="Casual">Casual</option>
                                <option value="PTO">PTO</option>
                                <option value="Privileged">Privileged</option>
                            </select>
                            <div *ngIf="leaveTypeRequiredError()" class="text-danger">
                                Leave type is required
                            </div>
                        </div>
                        <div>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col ms-1 mt-2">
                                        <label class="form-label">Start Date</label>
                                    </div>
                                    <div class="col">
                                        <input type="date" id="startDate" name="startDate" class="form-control" ngModel
                                            placeholder="Start Date" [(ngModel)]="StartDate" required
                                            #startDate="ngModel">
                                        <div *ngIf="startDate.touched && startDate.invalid" class="text-danger">
                                            <span class="mt-1" *ngIf="startDate.errors?.['required']">Start Date is
                                                required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col ms-1 mt-2">
                                        <label class="form-label">End Date</label>
                                    </div>
                                    <div class="col">
                                        <input type="date" id="endDate" name="endDate" class="form-control" ngModel
                                            placeholder="Start Date" required [(ngModel)]="EndDate" #endDate="ngModel">
                                        <div *ngIf="endDate.touched && endDate.invalid" class="text-danger">
                                            <span class="mt-1" *ngIf="endDate.errors?.['required']">End Date is
                                                required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col ms-1 mt-2">
                                    <label class="form-label">Reason</label>
                                </div>
                                <div class="col">
                                    <textarea id="reason" name="reason" #reason="ngModel" ngModel
                                        class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" [disabled]="userForm.invalid" class="btn btn-warning">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pdfTable" #pdfTable>
    <div *ngFor="let year of details" class="container mt-3">
        <h2>{{ year.key }}</h2>
        <div *ngFor="let monthDetails of year.value" class="row mt-3">
            <h3>{{ monthDetails.key }}</h3>
            <div *ngIf="monthDetails.value && monthDetails.value.length > 0; else noEvents" class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Dell Email</th>
                            <th>Approver Email</th>
                            <th>Leave</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let event of monthDetails.value">
                            <td>{{ event?.name }}</td>
                            <td>{{ event?.email }}</td>
                            <td>{{ event?.dellemail }}</td>
                            <td>{{ event?.approveremail }}</td>
                            <td>{{ event?.leave }}</td>
                            <td>{{ event?.startDate | date }}</td>
                            <td>{{ event?.endDate | date }}</td>
                            <td>{{ event?.reason }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ng-template #noEvents>
                <p>None</p>
            </ng-template>
        </div>
        <button class="btn btn-primary" (click)="downloadAsPDF()">Export To PDF</button>
    </div>
</div>




<div *ngIf="showModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Months</h4>
                <button type="button" class="close btn btn-danger" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <select id="year" name="year" class="form-control" [(ngModel)]="selectedYear">
                        <option value="" disabled selected>Year</option>
                        <option value="2000">2000</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-3" *ngFor="let month of months">
                        <input type="checkbox" id="{{ month }}" [(ngModel)]="selectedMonths[month]"
                            class="hidden-checkbox visually-hidden" />
                        <label for="{{ month }}" [class.btn-success]="selectedMonths[month]"
                            class="btn btn-secondary btn-block mb-2 w-100 d-flex align-items-center">
                            <span class="mx-auto">{{ month }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>